<!doctype html>
<html lang="zh-CN">
  <head>
      <meta charset="utf-8">
      <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <title> 500 服务器内部错误</title>
  </head>
  <body style="background-color: #e9ecef">
    <div class="jumbotron">
      <h1 class="display-4">500：发生了内部错误!</h1>
      <p class="lead">服务器内部发生错误!</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
    </div>
  </body>
